#root>div:first-child {
    visibility: hidden;
}

#shortcutArea {
    display: none;
}

.Layout-module__right_top___h3g3v>*:not(:first-child) {
    display: none;
}

#widgetboard {
    display: none;
}

.SettingView-module__layer_setting___JwfQs {
    display: none;
}